{{#each events}}
<div class="jumbotron whitewashed" style="background-image: url(/img/{{this.image}});">
  <h1>{{this.name}}</h1>
  <p class="lead">{{this.description}}</br><b>Tickets starting at ${{this.price}} each</b></p>
  <p><form action="/purchase-tickets"><button id="submit-{{@index}}" type="submit" name="id" value="{{this.id}}"class="btn btn-lg btn-success" href="#" role="button">Purchase Tickets</button></p></form>
</div>
{{/each}}